*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
}
.img{
    display: inline-block;
    margin-right: 40px;
   
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red 
}

#wrapper{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
   
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 100px;
    box-sizing: border-box;

}
.col-2 img{
    max-width: 100%;
    padding: 0px 10px;
    margin: 0px auto;
}
.row-item-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.row-item-inner > div {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.feature-products{
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}

@media (max-width:1000px) {
    .feature-products {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:800px) {
    .feature-products {
        grid-template-columns: 1fr;
    }
}

.feature-products-title{
    text-align: center;
    margin-top: 20px;

}
.feature-product-item{
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #dddddd;
    transition: transform 0.5s;
    cursor: pointer;

}

.feature-product-item-image a img{
   width:370px; 
   height:300px;
} 

.feature-product-item-image:hover {
    transform: translateY(-5px); 
}

.feature-product-item > .title{
    font-size: 20px;
    font-weight: bold;
}
.feature-product-item > .description{
    color: solid black;
}
.feature-product-item > .price{
    font-style: italic;
}
button{
    outline: none;
    background: black;
    font-family: "roboto", sans-serif;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px opx;
}
/*footer*/
.footer{
    align-items: center;
    padding: 20px;
}


.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 15px 0px;
}
.copyright{
    text-align: center;
}

.col-1-footer {
    display:inline;
}

.col-2-footer {
    display: inline-flex;
    float: right;
}




/*single product details*/
.small-container{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    

}

.col-3{
    display: inline-block;
    margin-top: 50px;
    text-align: right;
}
.col-3{
    outline: none;
    background: grey;
    font-family: "roboto", sans-serif;
    color: black;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px; 
}
.col-4{
margin: 15px;
text-align: center;
}

.col-4 img {
    height: 300px;
    width: 300px;
    cursor: pointer;
}
.body-1{
    background-color: #FAFAFA;
}

#food-pic {
    width: 300px;
}
#food-details {
    line-height: 30px;
}
/*account-page*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin: 50px;
}
.signin-1{
   
    padding: 40px;
}
.account-info{
    font-family: "roboto", sans-serif;
    font-weight: bold;
    color: black;
    
}